@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;text-decoration:none;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}
html, body{ height: 100%; }
/* mainbanner */
.mainbanner{height:100%; overflow:hidden; position:relative;}
.mainbanner_window{height:100%;overflow:hidden; width:100%;}
.mainbanner_window ul li, .mainbanner_window ul{
	height: 100%;
}
.mainbanner_list{right: 10px;bottom: 10px; height:25px; z-index:3;position:absolute;padding-right: 5px;}
.mainbanner_list li{margin-right: 5px; height:25px;overflow:hidden;float:left;display:inline;}
.mainbanner_list a{background:#a4a4a5; width:50px;height:25px;line-height:35px;overflow:hidden;text-align:center;color:rgb(255, 255, 255);font-size:12px;font-weight:700;float:left;display:inline-block;}
.mainbanner_list li.active a{background:#d71249;text-decoration:none;}
.mainbanner_list li a:hover{background:#d71249;text-decoration:none;}
.fixBox{ width:100%; height: 40px; background:rgba(205,205,205,0.4); position: absolute; bottom: 0; }
.mainName{ position: absolute; z-index: 6; left: 15px; bottom: 10px; font-size: 14px; color:#000;display: none; }
.showMsg{ display: none; width:100%; height: 30px; background:rgba(11, 185, 104, 0.4); position: absolute; bottom: 40px; text-align: center; vertical-align: -webkit-baseline-middle; }